.rowC 
{
    display:flex;
    flex-direction:row;
}

#stdt {
    width: 250px;
    margin-right: 60px;
    margin-left: 15px;
}

#enddt {
    width: 250px;
    margin-right: 60px;;
    margin-left: 15px;
}

#definition{
    border: 1px solid #eee;
    padding: 10px;
    box-shadow: 5px 5px #ccc;
}
